<button onclick='openNavigation()'>navigation</button>

<div id="modal">
    <button onClick='closeNavigation()'>Close the button</button>
    <button onClick='openMenu()'>menu</button>
</div>

<div id="menu">
    <button onClick='closeMenu()'>Close menu</button>
    <p>Mimosa</p>
    <p>12$</p>
</div>
